.shoppingCart {
  width: 90%;
  margin: auto;
}

.content {
  display: flex;
  gap: 4rem;
  flex-wrap: wrap;
}

.checkout {
  flex: 1;
}

.header {
  display: flex;
  align-items: center;
  width: 100%;
  gap: 2rem;
  margin-bottom: 2rem;
}

.header h1 {
  font-size: 1.5rem;
  color: #333;
}

.header a {
  font-size: 0.9rem;
  color: gray;
  display: flex;
  gap: 5px;
  align-items: center;
  transition: color 0.15s;
}

.header a:hover {
  color: #333;
}
