.newsLetter {
  background-color: #f6f6f6;
  width: 90%;
  margin: auto;
  padding: 1rem 5rem;
  margin-top: 2rem;
  display: flex;
  justify-content: space-between;
  height: 400px;
}

.text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 50%;
  gap: 1rem;
  color: #222;
}

.text h2 {
  font-size: 2.5rem;
  text-transform: uppercase;
}

.text p {
  max-width: 80%;
  font-size: 0.9rem;
}

.text form {
  display: flex;
}

.text form input[type="email"] {
  border: solid 1px #ccc;
  padding: 10px;
  border-radius: 5px 0 0 5px;
  width: 300px;
}

.text form input[type="submit"] {
  border-radius: 0 5px 5px 0;
  border: solid 1px #146eb4;
  background-color: #146eb4;
  color: #fff;
  padding: 0 10px;
  cursor: pointer;
  margin-left: -1px;
  transition: background-color 0.3s;
}

.text form input[type="submit"]:hover {
  background-color: #04599b;
}
