.product {
  background-color: #f5f5f5;
  display: flex;
  flex-direction: column;
  transition: box-shadow 0.3s;
  border: solid 1px #eee;
}

.product:hover {
  box-shadow: 0 0 10px 1px #eee;
}

.product:hover .productImage {
  transform: scale(1.1);
}

.productImage {
  width: 100%;
  object-fit: cover;
  transition: transform 0.3s;
  padding: 1rem;
}

.productDetails {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 10px;
  background-color: #fff;
  padding: 1rem;
}

.productCategory {
  font-size: 0.8rem;
  color: gray;
}

.productName {
  color: #333;
  font-size: 0.9rem;
}

.price {
  font-size: 1.1rem;
  font-weight: bold;
  color: #333;
  display: flex;
  gap: 1px;
}

.price span {
  font-size: 0.9rem;
  font-weight: normal;
}
