.productGrid {
  width: 90%;
  margin: auto;
  margin-top: 2rem;
}

.products {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-auto-rows: fit-content;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 1rem;
}
