.product {
  background-color: #f5f5f5;
  display: flex;
  flex-direction: column;
  transition: 0.3s;
  border: solid 1px #eee;
  position: relative;
}

.product:hover {
  box-shadow: 0 0 10px 1px #eee;
  transform: scale(1.1);
}

.productImage {
  height: 55%;
  padding: 1rem;
}

.productImage img {
  object-fit: contain;
  height: 100%;
  width: 100%;
}

.productDetails {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 10px;
  background-color: #fff;
  padding: 1rem;
}

.productCategory {
  font-size: 0.8rem;
  color: gray;
}

.productName {
  color: #333;
  font-size: 0.9rem;
}

.price {
  font-size: 1rem;
  font-weight: bold;
  color: #333;
  display: flex;
  gap: 1px;
}

.price span {
  font-size: 0.9rem;
  font-weight: normal;
}

.likeBtn {
  position: absolute;
  right: 0;
  top: 0;
  height: 40px;
  width: 40px;
  padding: 10px;
  border: none;
  background-color: transparent;
  transition: transform 0.15s;
  display: none;
}

.likeBtn img {
  height: 100%;
  width: 100%;
}

.likeBtn:hover {
  transform: scale(1.2);
}

.addToCartBtn {
  position: absolute;
  bottom: 10px;
  right: 10px;
  padding: 6px 10px;
  border-radius: 9999px;
  background-color: transparent;
  display: none;
  color: #457eac;
  border: solid 1px #457eac;
  background-color: #fff;
  font-size: 0.7rem;
  transition: 0.15s;
  transition-property: color, background-color;
}

.removeFromCartBtn {
  background-color: #457eac;
  color: #fff;
}

.addToCartBtn:hover {
  color: #fff;
  background-color: #457eac;
}

.product:hover :is(.addToCartBtn, .likeBtn) {
  display: block;
}
